.song-list {
  margin-bottom: 48px;
  padding: 0 40px;
  margin-left: 250px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
    color: white;
    font-family: "Vazirmatn", sans-serif;

    span {
        
      color: #ee10b0;
    }
  }

  &__view-all {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 6px;
    background: transparent;
    color: white;
    border: none;
    font-family: "Vazirmatn", sans-serif;
    font-size: 14px;
    cursor: pointer;
    transition: color 0.2s ease;

    svg {
      font-size: 18px;
      color: #ee10b0;
    }

    &:hover {
      color: #ee10b0;
    }
  }

  &__scroll {
    display: flex;
    overflow-x: auto;
    gap: 16px;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
      height: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #333;
      border-radius: 8px;
    }

    & > * {
      scroll-snap-align: start;
    }
  }
}
