.view-all-card {
  width: 80px;
  height: 80px;
  background-color: #1e1e1e;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-radius: 30px;
  margin-top: auto;
  margin-bottom: auto;

  &:hover {
    background-color: #292929;
  }

  &__icon {
    font-size: 24px;
    color: #fff;
    margin-bottom: 6px;
  }

  &__text {
    font-family: "Vazirmatn", sans-serif;
    font-size: 14px;
    color: #fff;
  }
}
